.Setting {
    color: var(--color-secondary);
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.Setting--select .Setting__label {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.Setting-select-container {
    width: 100%;
}

.Setting-select__control {
    border-radius: 0 !important;
}

.Setting-select__control--is-focused {
    box-shadow: 0 0 0 1px var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.Setting-select__option {
    color: #000 !important;
}

.Setting-select__option--is-selected {
    background-color: var(--color-primary) !important;
}

.Setting-select__option--is-focused {
    background-color: var(--color-primary-bright) !important;
}

.Setting__input {
    max-width: 60px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #bdc3c7;
    height: 5px;
    border-radius: 5px;
    outline: 0;
    margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
​input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}
