.Setting {
    color: var(--color-secondary);
    display: grid;
    grid-template-columns: 70px 60px 1fr;
    justify-content: stretch;
    align-items: center;
    gap: 1.5rem;
}

.Setting__input {
    color: var(--color-bg);
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    padding-left: 0.3rem;
}

.Setting__input:focus {
    box-shadow: 0 0 1px var(--color-primary);
    border: 1px solid var(--color-primary);
}

.Setting--Text .Setting__input {
    padding: 0.3rem;
}

.Setting--Text .Setting__input,
.Setting-select-container {
    grid-column: 2 span;
}

.Setting-select__control {
    border-radius: 0 !important;
}

.Setting-select__control--is-focused {
    box-shadow: 0 0 0 1px var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.Setting-select__option {
    color: var(--color-bg) !important;
}

.Setting-select__option--is-selected {
    background-color: var(--color-primary) !important;
}

.Setting-select__option--is-focused {
    background-color: var(--color-primary-bright) !important;
}

.Setting__range {
    -webkit-appearance: none;
    width: 100%;
    background-color: var(--color-tertiary);
    height: 0.3rem;
    outline: 0;
    margin: 0;
    transition: 0.2s ease-in-out;
}
.Setting__range.hover {
    background-color: var(--color-primary-bright);
}
.Setting__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--color-secondary);
    width: 1.5rem;
    height: 2rem;
    border: 1px solid var(--color-tertiary);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.Setting__range.hover::-webkit-slider-thumb {
    border-color: var(--color-primary-bright);
}
.Setting__range.active::-webkit-slider-thumb {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
