.Upload {
    position: relative;
    min-height: 200px;
    border: 2px dashed #c2c2c2;
    border-radius: 0.4rem;
    transition: border 0.3s ease;
}

.Upload:hover,
.Upload.dragover {
    border-color: lime;
}

.Upload__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.Upload__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
