.Header {
    display: flex;
    align-items: center;
    height: 7vh;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.Header__title {
    font-size: 1.8rem;
    color: var(--color-primary);
    text-shadow: -2px 2px 1px var(--color-primary-dark);
    margin: 0;
}
