.Header {
    padding: 0.1rem 1rem;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid #c2c2c2; */
}

.Header__title {
    font-size: 1.8rem;
    color: var(--color-primary);
    text-shadow: -2px 2px 1px var(--color-primary-dark);
    margin: 0;
}
