:root {
    --container-pad: 15px;
    --container-width: calc(1100px + var(--container-pad) * 2);

    --color-primary: #fcc419;
    --color-primary-dark: #f08c00;
    --color-primary-bright: #ffda6a;
    --color-secondary: #ffffff;
    --color-tertiary: #c2c2c2;
    --color-bg: #212529;
    --color-bg-alt: #343a40;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-bg);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-pad);
    margin: 0 auto;
}

.App__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.App__side {
    width: 100%;
}

.App__settings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.App__submit {
    border: none;
    outline: none;
    align-self: flex-end;
    padding: 0.5rem 2rem;
    background-color: var(--color-primary);
    font-weight: 500;
    color: var(--color-bg);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.App__submit:hover {
    box-shadow: -2px 2px 0px var(--color-primary-dark);
    transform: translate(2px, -2px);
}
