:root {
    --container-pad: 15px;
    --container-width: calc(1100px + var(--container-pad) * 2);

    --color-primary: #fcc419;
    --color-primary-alt: #f08c00;
    --color-secondary: #ffffff;
    --color-tertiary: #c2c2c2;
    --color-bg: #212529;
    --color-bg-alt: #343a40;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-bg);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-pad);
    margin: 0 auto;
}

.App__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* display: flex; */
    gap: 1rem;
}

.App__side {
    width: 100%;
}
